<div class="col-md-4" *ngFor="let curso of cursos">
    <div class="card text-center">
        <div class="card-header bg-success text-white  d-flex justify-content-between align-items-center">
            {{curso.CodigoCurso}}
        <button class="btn btn-danger" (click)="deleteCurso(curso.CodigoCurso)">
            <i class="fas fa-trash-alt"></i>
        </button>
        </div>
        <div class="card-body">
            <p>
                Nombre:{{ curso.NombreCurso}}
            </p>
            <p>
                Descripcion:{{ curso.descripcion}}
            </p>
            <p>
                Seccion:{{ curso.seccion}}
            </p>
            <p>
                CodHorario:{{ curso.CodigoHorario}}
            </p>
            <p>
                CodSemestre:{{ curso.CodigoSemestre}}
            </p>
            <a [routerLink]="['/cursos/edit',curso.CodigoCurso]" class="btn btn-info btn-block" >Editar Curso</a>
        </div>
    </div>
</div>
