<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container">
    <a class="navbar-brand" routerLink="/">Sistema Registro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/users" routerLinkActive="active" role="button" aria-haspopup="true" aria-expanded="false">Estudiantes</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
            <a class="dropdown-item" routerLink="/users/add"><i class="fas fa-plus-circle"></i>Registrar</a>
            <a class="dropdown-item" routerLink="/users" >Ver</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/auxs" routerLinkActive="active" role="button" aria-haspopup="true" aria-expanded="false">Auxiliares</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
            <a class="dropdown-item" routerLink="/auxs/add"><i class="fas fa-plus-circle"></i>Registrar</a>
            <a class="dropdown-item" routerLink="/auxs" >Ver</a>
            <a class="dropdown-item" routerLink="/auxs/asignaciones" >Asignar</a>

          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="/cursos" routerLinkActive="active" role="button" aria-haspopup="true" aria-expanded="false">Cursos</a>
          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
            <a class="dropdown-item" routerLink="/cursos/add"><i class="fas fa-plus-circle"></i>Registrar</a>
            <a class="dropdown-item" routerLink="/cursos" >Ver</a>

          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/foros" routerLinkActive="active">Foros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actividades" routerLinkActive="active">Actividades</a>
        </li>
      </ul>
    </div>
   </div>
  </nav>
